<ion-header>
  <ion-toolbar>
    <ion-title>Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	 <form  [formGroup]="loginForm" (submit)="login(loginForm.value)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input  formControlName="identifier" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input  formControlName="password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Se Connecter</ion-button>
        <ion-button href="/register"  color="primary" expand="block">S'inscrire</ion-button>
        <a [routerLink]="" class="small-text">Mot de passe oublié ?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
